// Connecting fonts.
@font-face {
  font-family: SohoGothicPro_Regular;
  src: url('../fonts/SohoGothicPro-Regular.otf');
}

@font-face {
  font-family: SohoGothicPro_Medium;
  src: url('../fonts/SohoGothicPro-Medium.otf');
}

@font-face {
  font-family: SohoGothicPro_Light;
  src: url('../fonts/SohoGothicPro-Light.otf');
}

@font-face {
  font-family: SohoGothicPro_Bold;
  src: url('../fonts/SohoGothicPro-Bold.otf');
}


@font-face {
  font-family: Tahoma_regular;
  src: url('../fonts/Tahoma.ttf');
}