html,body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
a,
a:hover
{

}
a:hover
{
  opacity: 0.8;
  text-decoration: none;
}
hr
{
  margin: 5px !important;
}
p
{
  margin: 0;
}
h3
{
  margin-top: 0;
}